//- 顶部工具菜单
section.m-cart-tools
    .field
        button.edit.js-edit 编辑
section.m-cart-v2.m-cart-content.js-cart-content
    //- 购物车内商品列表
    section.cart-goods-module

    //- 为您推荐商品列表
    section.random-list
        .title
            em 为您推荐
        ul.u-goods-list.clearfix.cart-recommend-module

//- 购物车底部合计结算bar
#js-cart-footer
    section.m-cart-footer
        .info
            ul.field
                li.li-1
                    label
                        input.u-checkbox.selectAll(type='checkbox')
                        em 全选
                li.li-2
                    dl
                        dt
                            | 合计：
                            strong
                        dd
                            | 为您节省
                            span
                li.li-3
                    a.u-btn.ban(href=goodsCount ? '/settlement' : 'javascript:;') 结算
                        span ()
        .delete(hidden)
            ul.field
                li.li-1
                    label
                        input.u-checkbox.js-edit-checkAll(type='checkbox')
                        em 全选
                li.li-2
                li.li-3.u-go-cart
                    a.u-btn.ban.js-edit-del(href="javascript:;") 删除

//- sku选择弹出
section.u-fixed.bottom.u-sku
    .mask
    .content