//- 商品分类一级列表;
if data && data.length
    each item in data
        if item.name
            h2 #{item.name}
        ol.flex-center
            if item.data &&  item.data.length
                each detail in item.data
                    li
                        - var href = '#/list/entry=' + item.type;
                        - href += (item.type == 0 ? '&brandIds=' : '&categoryId=') + detail.typeId;
                        a(href= href)
                            .pic
                                img(src=detail.pic + '@1e_200w_200h_0c_0i_0o_100q_1x.jpg')
                            em #{detail.name}
