//- 商品SKU
.info
    .pic
        img(src='http://img.mamhao.cn/CS910-PI/sku_1CS910PIK116.jpg', alt='')
    dl
        dt ￥799
        dd
            span "白色"
            span "无尺寸"
    del.js-close x
.sku
    if skuView && skuView.length
        each views, index in skuView
            each val, key in views
                dl
                    dt #{key}
                    dd
                        each v,i in val
                            a(class={active: i === 0}, href='javascript:;', data-key=key, data-value=skuMap[v]) #{skuMap[v]}

.quantity
    dl
        dt 选择数量
        dd
            .u-quantity
                a.decrement.disabled(href='javascript:;') -
                .number 1
                a.increment(href='javascript:;') +
.button
    button.u-btn.success.max.alone.js-close 关闭