//- 商品分类一级列表;
include ../includes/let.pug
if data && data.length
    each item in data
        if item.name
            h2 #{item.name}
        ol.flex-box
            if item.data &&  item.data.length
                each detail in item.data
                    li
                        - var href = '#/list/entry=' + item.type;
                        - href += (item.type == 0 ? '&brandIds=' : '&categoryId=') + detail.typeId;
                        a(href= href)
                            .pic
                                img(src=placeholderPic, data-original=detail.pic + '@200w_200h_100q.png')
                            em #{detail.name}
