//- 商品参数;
dl
    dt 规格参数
    dd
        each param in goodsParams
            if param.value
                p.flex-center
                    strong #{param.key}
                    span #{param.value}