//- 首页-单行;
.grid(style="margin-bottom: "+ (rows.bottomPx / 2) +"px;")
    each d in rows.data
        a(href=d.linkTo)
            img(data-original=d.pic + pngSize, src=placeholderPicMin, alt=d.name)