//提示页面
.u-null-all
    .u-null
        dl
            dt(class='n-' + style)
            dd
                p #{tips}
                if btn
                    each item in btn
                        a(
                            class='u-btn ' + (item.class || 'checked'),
                            href= item.link || 'javascript:;'
                        ) #{item.text}