meta(charset='utf-8')
block title
    title 妈妈好商城
link(rel='dns-prefetch', href='//s.mamhao.cn')
link(rel='dns-prefetch', href='//img.mamhao.cn')
link(rel='dns-prefetch', href='//api.mamahao.com')
meta(name='format-detection', content='telephone=no,email=no')
meta(name='apple-mobile-web-app-status-bar-style', content='white')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='format-detection', content='telephone=no; email=no')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
block meta
//- 加CDN
link(rel='stylesheet', href='//img.mamhao.cn/s/m/v2/style/reset.css')
link(rel='stylesheet', href='//img.mamhao.cn/s/m/v2/style/common.css')
link(rel='stylesheet', href='//img.mamhao.cn/s/m/v2/style/unit.css')
link(rel='stylesheet', href='//img.mamhao.cn/s/m/v2/style/module.css')
//- 不加CDN
//- link(rel='stylesheet', href='/style/reset.css')
//- link(rel='stylesheet', href='/style/common.css')
//- link(rel='stylesheet', href='/style/unit.css')
//- link(rel='stylesheet', href='/style/module.css')
block css

