meta(charset='utf-8')
block title
link(rel='dns-prefetch', href='//s.mamhao.cn')
link(rel='dns-prefetch', href='//image.mamhao.cn')
link(rel='dns-prefetch', href='//api.mamhao.cn')
meta(name='format-detection', content='telephone=no,email=no')
meta(name='apple-mobile-web-app-status-bar-style', content='white')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='format-detection', content='telephone=no; email=no')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
block meta
link(rel='stylesheet', href='http://s.mamhao.cn/m/common/css/reset.css')
link(rel='stylesheet', href='http://s.mamhao.cn/m/v1/style/common.css')
link(rel='stylesheet', href='http://s.mamhao.cn/m/v1/style/unit.css')
link(rel='stylesheet', href='http://s.mamhao.cn/m/v1/style/module.css')
block css

