//- 可重用的代码块
mixin footer_nav(name)
    .footer-nav.u-footer-menu
        ul
            li(class={active: name === 'index',index: true}): a(href='/') 首页
            li(class={active: name === 'store',store: true}): a(href='/store#/') 门店
            li(class={active: name === 'goods',goods: true}): a(href='/goods#/') 分类
            li(class={active: name === 'cart',cart: true}): a(href='/cart#/') 购物车
            li(class={active: name === 'account',account: true}): a(href='/center#/') 我


//- 空白提示页
mixin blank(style, tips)
    .u-null-all
        .u-null
            dl
                dt(class='n-' + style)
                dd
                    p #{tips}
                    if block
                        block


//- 门店列表
mixin storeList(rows, request)
    include ../lists/store.pug

//- 商品列表
mixin goodsList(rows)
    include ../lists/goods.pug

//- 门店评价列表
mixin storeAssessList(rows)
    include ../lists/store_assess_list.pug

//- 首页单行
mixin getHomeGrid(rows)
    include ../lists/home_grid.pug

//- 首页并列宫格
mixin getHomeGroup(rows)
    include ../lists/home_group.pug