//- 支付页面
extends ../layouts/layout
block title
    title 选择支付方式
block js
    script seajs.use('app/pay');


block content
    include ../includes/let.pug
    include ../includes/mixin.pug
    section.m-pay-form
        dl.flex-center
            dt 请支付
            dd ￥#{price}
        ul
            li.u-arrow.right(data-no=orderBatchNo,data-openid=openid)
                a.weixin.js-weixin(href='javascript:;') 微信支付
                a.alipay.js-alipay(href='javascript:;') 支付宝支付
                a.codepay.js-codepay(href='javascript:;') 二维码支付
        .code
            p 如果微信支付和支付宝支付都不能正常支付，请长按下图二维码并识别二维码进行支付!
            p.img
                img(src='http://s.mamhao.cn/common/images/code-max.png',alt='')
