//- 验货付款支付成功结果页
extends ../layouts/layout.pug
//-block title
    title 付款成功
block js
    script seajs.run('app/pay_result');

block content
    - var rewards = [];
    - if(madouCount) rewards.push(madouCount + '妈豆');
    - if(gbCount) rewards.push(gbCount + 'GB积分');
    - if(mcCount) rewards.push(mcCount + 'MC积分');
    - var rewardsDesc = rewards.join('、');
    if dealingType && dealingType == 2
        //- 验货付款订单 确认收货成功后显示待评价商品列表
        section.m-order-receipt
            .content
                .pic
                    img(src="//img.mamhao.cn/s/m/v2/images/bg-receipt.png", alt="")
                h2 确认收货成功啦!
                h4 #{extraScoreTip}
                ul
                    li
                        a.u-btn.max.alone(href='/center#/orders') 查看订单
                    li
                        a.u-btn.max.alone(href='/') 再逛逛
            //- 待评价商品列表
            section#reviewList
            //- 推荐商品列表
            .push
               include guess_you_like.pug

    else
        //- 先付款订单
        section.m-order-receipt.m-pay-success
            .content
                .pic
                    img(src='//img.mamhao.cn/s/m/v2/images/bg-paying.png')
                h2 付款成功啦!
                h4 您确认收货7天后将获得
                h3 #{rewardsDesc}
                ul
                    li
                        a.u-btn.max.alone(href='/center#/orders') 查看订单
                    li
                        a.u-btn.max.alone(href='/') 再逛逛
                dl.tips
                    dt #{safeTipTitle}
                    dd #{safeTipContent}
            //- 推荐商品列表
            .push
                h2 为您推荐
                //- 以下商品列表
                ul.u-goods-list#recommendList

