extends ../layouts/layout
block title
    title 每一件商品都是安全的

block content
    //- 筛选
    section.m-filter
        .item
            .title
                strong 品牌
                .more.u-arrow.bottom 全部品牌
            .content
                ul
                    li.active
                        dl
                            dd
                                img(src='http://bgo.mamhao.cn/ff3ed367-45bf-45b2-82e0-b915a124b755.png')
                            dt mothercare
                    li
                        dl
                            dd
                                img(src='http://bgo.mamhao.cn/ff3ed367-45bf-45b2-82e0-b915a124b755.png')
                            dt 好孩子
                    li
                        dl
                            dd
                                img(src='http://bgo.mamhao.cn/ff3ed367-45bf-45b2-82e0-b915a124b755.png')
                            dt mothercare
                    li
                        dl
                            dd
                                img(src='http://bgo.mamhao.cn/ff3ed367-45bf-45b2-82e0-b915a124b755.png')
                            dt 好孩子
                    li
                        dl
                            dd
                                img(src='http://bgo.mamhao.cn/ff3ed367-45bf-45b2-82e0-b915a124b755.png')
                            dt mothercare
                    li
                        dl
                            dd
                                img(src='http://bgo.mamhao.cn/ff3ed367-45bf-45b2-82e0-b915a124b755.png')
                            dt 好孩子
        .item
            .title
                strong 年龄
                .more.u-arrow.bottom 全部展开
            .content
                ol
                    li
                        em 孕妈咪
                    li.active
                        em 0-3个月
                    li
                        em 6-12个月
                    li
                        em 1周岁
                    li
                        em 1-3周岁
        .item
            .title
                strong 类目
                .more.u-arrow.bottom 全部展开
            .content
                ol
                    li
                        em 奶瓶清洁具/消毒锅/洗洁齐
                    li
                        em 湿巾
                    li
                        em 推车
                    li
                        em 玩具
                    li
                        em 纸尿裤
                    li.active
                        em 奶瓶清洁具/消毒锅/洗洁齐
                    li
                        em 湿巾
                    li
                        em 推车
                    li
                        em 玩具
                    li
                        em 纸尿裤
