//- 搜索入口
section.m-search.flex-column
    .u-search
        .content
            .field.search
                input(id='keywords',type='search', placeholder='搜索商品/品牌',value=params.keywords,required)
            .tools
                button(type='button').js-search 搜索

    //- 默认显示内容
    .autoshow.flex
        //- 热门
        if hotWords && hotWords.length
            dl.hot
                dt 热门
                dd
                    each word in hotWords
                        em #{word}


        // 搜索历史
        if params.historyWords && params.historyWords.length
            dl.history
                dt 历史搜索
                dd
                    ul.list
                        each history in params.historyWords
                            li #{history}
                .delete
                    del.js-del-history 清空历史搜索

    // 搜索结果列表
    ul.list.search-tips.flex.none
