extends ../layouts/layout
block title
    title 每一件商品都是安全的

block js
    script seajs.use('app/search_result');

block content
    //- 搜索结果
    section.m-goods-list.m-search-detail
        .header
            .u-search
                .content
                    .field
                        a.back(href='/goods/search')
                        if keywords
                            span
                                a.key(href='/goods/search?keywords=' + keywords) #{keywords}
                                a.del(href='/goods/search') x
                    .tools
                        a(href='/goods/filter') 筛选

            .u-tab.array
                ul
                    li 综合
                    li.active
                        em 销量
                    li.down
                        em 价格
                    li 最新

        .list
            if rows && rows.length
                ul.u-goods-list
                    include ../lists/goods
            else
                +blank('09', '未搜索到任何商品哦~')
