link(rel='stylesheet', href='css/address.css')
if rows
    ul.smooth
        each item, index in rows
            li
                dl.info
                    dt
                        if item.default
                            label.label 默认
                        span.name #{item.name}
                        span #{item.mobile}
                    dd
                        span #{item.address}

                div.option
                    a.edit(href='#/address/edit/:#{item.id}') edit

.footer
    a.btn.btn-primary(href='#/address/add') 新增收货地址
