//- 地址gps列表
include ../../includes/mixin.pug
if data.error
    +blank(data.error.style, data.error.tips)
        a(class='u-btn checked',href= 'javascript:location.reload();') 刷新试试

else

    if data && data.length
        ul.list
            each item, index in data
                li(data-info=item)
                    dl
                        dt
                            span #{item.name}
                            if index === 0
                                em 推荐
                        dd #{item.address}
                    span #{item.distance}m

    else
        +blank('03', '定位失败，请确认您的定位服务是否开启')
            a(class='u-btn checked',href= 'javascript:location.reload();') 刷新试试