//- 地址gps列表
include ../../includes/mixin.pug
if data.error
    +blank(data.error.style, data.error.tips)
        a(class='u-btn checked',href= 'javascript:history.go(-1);') 返回

else

    if data && data.length
        ul.list
            each item, index in data
                li
                    dl
                        dt
                            span #{item.name}
                            if index === 0
                                em 推荐
                        dd #{item.address}
                    span #{item.distance}m

    else
        +blank('03', '定位失败')
            a(class='u-btn checked',href= 'javascript:history.go(-1);') 返回