//- 妈豆记录;
section.m-beans
    dl.info
        dt
            strong #{mbeanCount}
            em 个
        dd 100妈豆=1元，购物可抵现金
    .m-record
        .title
            strong 妈豆交易明细
            a(href='http://h5.mamahao.com/help/beans/') 妈豆说明
        if mbeans
            ul.list
                include ../../lists/bean