//- 妈豆记录;
if mbeans && mbeans.length
    dl.info
        dt
            strong #{mbeanCount}
            em 个
    dd 100妈豆=1元，购物可抵现金

.m-record.flex.flex-column
    .title
        strong 妈豆交易明细
        a(href='http://h5.mamahao.com/help/beans/') 妈豆说明

    ul.list.flex
        if mbeans && mbeans.length
            include ../../lists/bean.pug
        else
            include ../../includes/mixin.pug
            +blank('05', '您还没有麻豆哦~')