div #{data}
section.m-coupon
    .header
        .content
            .convert
                input(type='text', placeholder='请输入您的优惠劵兑换码')
                button.u-btn.success.mini 立刻兑换
            .u-tab.two
                ul
                    li.active 优惠劵
                    li 卡劵
        .f-space
    .list
        .item.style-0
            .content
                dl
                    dt
                        span ￥
                        | 10
                    dd 满100元可用
                p.u-arrow 好孩子品牌周年庆，满100减10
            .info
                dl
                    dt 适用：
                    dd 指定好孩子西湖银泰店，指定好孩子西湖银泰店
                time 2016.11.01-2016.12.31
        .item.style-0.link
            .content
                dl
                    dt
                        span ￥
                        | 20
                    dd 满300元可用
                p.u-arrow 好孩子品牌周年庆，满300减20
            .info
                dl
                    dt 适用：
                    dd 指定好孩子西湖银泰店
                time 2016.11.01-2016.12.31
        .item.style-0
            .content
                dl
                    dt
                        span ￥
                        | 1000
                    dd 满10000元可用
                p.u-arrow 好孩子品牌周年庆，满1000减100
            .info.unfold
                dl
                    dt 适用：
                    dd 指定好孩子西湖银泰店，指定好孩子西湖银泰店
                time 2016.11.01-2016.12.31
        .item.style-1.link
            .content
                dl
                    dt
                        span ￥
                        | 10
                    dd 满100元可用
                p.u-arrow goodbaby品牌周年庆，满10000减1000
            .info
                dl
                    dt 适用：
                    dd 指定好孩子西湖银泰店，指定好孩子西湖银泰店，指定好孩子西湖银泰店
                time 2016.11.01-2016.12.31
        .item.style-2
            .content
                dl
                    dt
                        span ￥
                        | 100
                    dd 满1000元可用
                p.u-arrow goodbaby品牌周年庆，满10000减1000
            .info
                dl
                    dt 适用：
                    dd 指定好孩子西湖银泰店
                time 2016.11.01-2016.12.31
        .item.style-3
            .content
                dl
                    dt
                        span ￥
                        | 100
                    dd 满1000元可用
                p.u-arrow goodbaby品牌周年庆，满10000减1000
            .info
                dl
                    dt 适用：
                    dd 指定好孩子西湖银泰店
                time 2016.11.01-2016.12.31
            del 已使用