script#tpl_home(type='text/html')
    header
        .profile
            .avatar
                img(src='#{avatar}')
            .info
                span.name #{nickName}
            .details

    section.orders
        h3 全部订单
        dl
            dd 待付款
            dd 待发货
            dd 待收货
            dd 待评价
            dd 退换货


    section.wallet
        h3 我的钱包
        dl
            dd 麻豆
            dd 优惠券
            dd GB积分
            dd MC积分


    section
        ul
            li
                a 收藏
            li
                a(href='#/address') 收货地址
            li
                a 联系客服
            li
                a 意见反馈




    section
        ul
            li
                a 云店
            li
                a 微推广

    section
        ul
            li
                a 关于妈妈好