//- 我的分员积分;
.u-tab.double.fixed.ui-swipe-tab
    ul
        //-这里需要独立循环两次，不是bug，别改，不明白可问我，by xqs
        each item in data
            if item.request.type == 0
                li.active
                    a(href='javascript:;')
                        | #{item.totalPoint}分
                        em Goodbady积分

        each item in data
            if item.request.type == 1
                li
                    a(href='javascript:;')
                        | #{item.totalPoint}分
                        em Mothercare积分

    .f-space

.m-record.flex.flex-column
    .ui-swipe.flex
        .ui-swipe-wrap
            //-积分类型 0：GB,1:MC

            .ui-swipe-item.flex-column
                .title
                    strong GB积分交易明细
                    a(href='http://h5.mamahao.com/help/integral/') 积分说明
                ul.list.flex(data-params='{"type": 0}')

            .ui-swipe-item.flex-column
                .title
                    strong MC积分交易明细
                    a(href='http://h5.mamahao.com/help/integral/') 积分说明
                ul.list.flex(data-params='{"type": 1}')
