// 我的分员积分;
section.m-integral
    .u-tab.double.fixed
        ul
            li.active
                a(href='javascript:;')
                    | #{totalPoint}分
                    em Goodbady积分
            li
                a(href='javascript:;')
                    | 251分
                    em MotherCare积分
        .f-space
    .m-record
        .title
            strong GB积分交易明细
            a(href='http://h5.mamahao.com/help/integral/') 积分说明
        ul.list
            include ../../lists/integral