// 我的分员积分;
.u-tab-all.double
    .u-tab.two
        ul
            li.active
                em 0分
                strong Goodbady积分
            li
                em 0分
                strong MotherCare积分
    .space