/*妈豆记录*/
.m-beans .info{ border-bottom:1px solid #F0F0F0; background-color:#FFF; padding:10px 0; text-align:center;}
.m-beans .info dt{ color:#ff4d61; font-size:50px; line-height:1; padding-bottom:5px;}
.m-beans .info dt strong{ font-family:Arial; font-weight:normal;}
.m-beans .info dt em{ font-size:30px;}
.m-beans .info dd{ color:#999;}

.m-beans .record{ margin:8px 0; background-color:#FFF; border-top:1px solid #F0F0F0; border-bottom:1px solid #F0F0F0;}
.m-beans .record .title{ padding:8px; overflow:hidden;}
.m-beans .record .title strong{ float:left; font-weight:normal;}
.m-beans .record .title a{ float:right; font-size:12px; color:#666;}
.m-beans .record li{ border-bottom:1px solid #F0F0F0; padding:8px; overflow:hidden;}
.m-beans .record li:nth-last-child(1){ border-bottom:0;}
.m-beans .record li:nth-child(1){ border-top:1px solid #F0F0F0;;}
.m-beans .record li dl{ float:left;}
.m-beans .record li dd{ font-size:12px; color:#999;}
.m-beans .record li sub,
.m-beans .record li sup{ float:right; line-height:2.2; color:#477ED8;}
.m-beans .record li sup{ color:#FF4D61;}