/*header*/
.m-home header{background: url("http://s.mamhao.cn/wei/v3/images/bg-user.jpg") no-repeat;-webkit-background-size: cover;background-size: cover;padding: 2em 1em;}

/*flex布局*/
.m-home .profile,
.m-home section h3,
.m-home section ul li
{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}

.m-home section h3,section ul li{-webkit-align-items: center;align-items: center;-webkit-box-align: center;}

.m-home .profile .info,
.m-home section ul li a
{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}

/*profile*/
.m-home .profile{-webkit-align-items: center;align-items: center;-webkit-box-align: center;color: #fff;}
.m-home .profile .avatar{width: 48px;height:48px;border-radius:50%;overflow: hidden;margin-right: .6em;border: 2px solid rgba(255,255,255,.4);}
.m-home .profile .details{width: 8px;height: 8px;border: 1px solid rgba(255,255,255,.4);border-top: 0;border-left: 0;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}


/*section*/
.m-home section{background: #fff;margin-bottom: .8em;font-size: 12px;}
.m-home section h3{border-bottom: 1px solid #f0f0f0;padding: 5px;color: rgba(0,0,0,.5);}
.m-home section dl dd{padding: .8em .5em;}
section ul li:before{display: inline-block;content:'';width: 20px;height: 20px;background: rgba(255,77,97,.8);margin: 0 .5em;}
.m-home section ul li{padding: .2em 0;}
.m-home section ul li a{padding: .6em 0;border-bottom: 1px solid #f0f0f0;position: relative}
.m-home section ul li:last-child a{border: 0;}
section ul li a:after{display: inline-block;content:'';width: 6px;height: 6px;border: 1px solid #ccc;border-top: 0;border-left: 0;position: absolute;top: 50%;right: 10px;margin-top: -4px;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
