/*banner*/
.banner{}
.banner ul{white-space: nowrap;overflow-x: scroll;}
.banner li{display: inline-block}

/*icons nav*/
.icons-nav {background: #fff;padding: .5em 0;}
.icons-nav ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.icons-nav ul li{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align: center}
.icons-nav ul li a{display: inline-block;}
.icons-nav ul li img{width: 40%;}
.icons-nav ul li .title{margin-top:.2em;font-size: 10px;;}
