/* mamhao.cn reset.css 2016-06-03 */
*{ -webkit-box-sizing:border-box; box-sizing:border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,pre,code,form,fieldset,legend,input,textarea,blockquote,figure,button{ margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display:block; }
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;user-select:none; -webkit-user-select:none;}
body{font:14px/1.44 "microsoft yahei";color: #666;}
button,input,select,textarea{ font:inherit; color:#333;line-height: 1.44;border: 0;outline: 0;}
input[type="text"],input[type="password"],input[type="tel"],input[type="email"]{padding-left: 5px;}
audio,canvas,progress,video{ display:inline-block; vertical-align:baseline; }
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
ol,ul,li{ list-style:none;}
table{ border-collapse:collapse; border-spacing:0;}
sup,sub{ font-size:100%; vertical-align:baseline;}
a,a:active{ outline:none;}
i,em{ font-style:normal; }
a,del,ins,s,u{ text-decoration:none;}
fieldset,img,addr,acronym{ border:0;}
img,addr,acronym,input,textarea,iframe,button{ vertical-align:middle;}
input,button,textarea,select,optgroup,option{ resize:none; outline:none;}
a,button,input{ -webkit-tap-highlight-color:transparent;} /* 移除系统自带点击高亮的状态 */
img{ max-width:100%;}
a,img{ -webkit-touch-callout: none;}   /* 禁止长按链接与图片弹出菜单 */
a,button{ cursor:pointer;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 200px white inset;} /* 去除黄色背景 */
::-webkit-input-placeholder{ color:#CCC;}
::-webkit-scrollbar{opacity:0;height: 0;width: 0;} /*隐藏原生滚动条*/