extends ../../../../layouts/topic.pug
block title
    title 会员专区
block meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
block js
    script seajs.run('topic/common/common');
block content

