section.m-order.flex-column
    .u-tab.fixed.ui-swipe-tab
        ul
            li.active 全部
            li 待付款
            li 待发货
            li 待收货
            li 待评价
        .f-space

    .ui-swipe.flex
        .ui-swipe-wrap
            .ui-swipe-item
                .list
            .ui-swipe-item
                .list
            .ui-swipe-item
                .list
            .ui-swipe-item
                .list
            .ui-swipe-item
                .list


