.u-tab.ui-swipe-tab
    ul
        li.active 全部
        li 待付款
        li 待发货
        li 待收货
        li 待评价

.ui-swipe.flex
    .ui-swipe-wrap
        .ui-swipe-item
            .list.list-0(data-params='{"count":10}')
        .ui-swipe-item
            .list.list-1(data-params='{"queryType": 3,"count":10}')
        .ui-swipe-item
            .list.list-2(data-params='{"queryType": 4,"count":10}')
        .ui-swipe-item
            .list.list-3(data-params='{"queryType": 5,"count":10}')
        .ui-swipe-item
            .list.list-4(data-params='{"queryType": 6,"count":10}')


