//- 操作结果页
section.m-order-receipt.m-assess-success
    .content
        .pic
            img(src='http://s.mamhao.cn/m/v1/images/bg-assess.png')
        h2 评价成功啦!
        p 感谢您此次发表的购物体验，奖励
            em 10妈豆
        ul
            li
                button.u-btn.max.alone 查看订单
            li
                button.u-btn.max.success.alone 去评价

    .push
        h2 您还需要
        //- 以下商品列表
        ul.u-goods-list
