include ../includes/let.pug
//- 在线付款订单确认收货成功结果页 评价成功结果页
if mbeanGet
    section.m-order-receipt.m-assess-success
        .content
            .pic
                img(src='//img.mamhao.cn/s/m/v2/images/bg-assess.png')
            h2 评价成功啦!
            p 恭喜您获得
                em #{mbeanGet}
                | 妈豆
            ul
                li
                    a.u-btn.max.alone(href='/center#/orders') 查看订单
                li
                    a.u-btn.max.alone(href='/') 快去购物吧
else
    section.m-order-receipt.m-assess-success
        input(type='hidden',name='orderNo',value=orderNo)
        .content
            .pic
                img(src='//img.mamhao.cn/s/m/v2/images/bg-receipt.png')
            h2 确认收货成功啦!
            p #{extraScoreTip}

            ul
                li
                    a.u-btn.max.alone(href='/center#/orders') 查看订单
                li
                    a.u-btn.max.alone(href='/') 再逛逛

        include ../lists/tobe_comment.pug


