extends ../layouts/layout
block title
    title= (title ? title : '示例')
block css
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='css/demo.css')
block js
    script seajs.run('app/demo');
block meta
    meta(name='toTop')
block extra
    //首页模板

    script#tpl_home(type='text/html')
        section.m-home.flex
            header
                .profile
                    .avatar
                        img(src=avatar)
                    .info
                        span.name #{nickName}
                    .details

            section
                h3 Message && Tip
                ul
                    li
                        a.js-tips(href='javascript:;') 小提示
                    li
                        a.js-dialog(href='javascript:;') 模态对话框
                    li
                        a.js-loading(href='javascript:;') loading

            section
                h3 Form
                ul
                    li 开关 &nbsp;&nbsp;
                        input.u-switch(type='checkbox')

            section
                h3 Scroller
                ul
                    li
                        a(href='#/navCenter') 导航栏点击选项滚动居中
                    li
                        a(href='#/headroom') Headroom
                    li
                        a(href='#/dropload') 下拉刷新，上拉加载分页

        +footer_nav()

    //navCenter模板
    script#tpl_navCenter(type='text/html')
        include components/navCenter

    //Headroom模板
    script#tpl_headroom(type='text/html')
        include components/headroom

    //dropload模板
    script#tpl_dropload(type='text/html')
        include components/dropload








































