extends ../layouts/layout
block title
    title 个人中心
block css
    link(rel='stylesheet', href='css/center.css')
block js
    script(src='js/center.js')
block meta
    meta(name='toTop')
block content
    .container

    include components/index
    include components/address
    include components/address_add
    include components/address_edit






































