extends ../layouts/layout
block js
    script seajs.run('app/center');

block extra

    //添加地址模板
    script#tpl_address_add(type='text/html')
        include components/address_add

    //搜索地址模板
    script#tpl_address_search(type='text/html')
        include components/address_search






































