extends ../layouts/layout
block title
    title= (title ? title : '个人中心')
block css
    link(rel='stylesheet', href='/css/center.css')
    link(rel='stylesheet', href='/css/orders.css')
block js
    script(src='http://webapi.amap.com/maps?v=1.3&key=97a72a5c35a9f4915293fdb121bbdc2a')
    script(src='/js/center.js')
block content
    #spa

    //首页模板
    script#tpl_home(type='text/html')
        include components/center

    //添加地址模板
    script#tpl_address_add(type='text/html')
        include components/address_add

    //搜索地址模板
    script#tpl_address_search(type='text/html')
        include components/address_search






































