extends ../layouts/layout
block title
    title 登录
block css
    link(rel='stylesheet', href='css/login.css')
block js
    script(src='js/login.js')

block content
   form
      ul
         li
            label 手机号
            input.mobile(name='mobile',type='tel',data-type='mobile', placeholder='请输入手机号码',maxlength='11')
         li
            label 验证码
            input.vcode(name='vcode',type='tel', placeholder='请输入验证码',maxlength='6')
            button.btn.btn-vcode.js-vcode(type='button') 获取验证码
      .form-action
         button.btn.btn-primary.js-submit(type='button') 手机快速登录