extends ../layouts/initial.pug
block title
    title JS-SDK
block meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
block js
    script seajs.run('mamahao/sdk');
block content
