extends ../../layouts/topic.pug
block title
    title 市场活动
block meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
block js
    script seajs.run();
block content
    p 市场活动