extends ../layouts/layout
block title
    title 每一件商品都是安全的

block content
    //- 品牌商品列表
    section.m-goods-list.flex
        .header
            // search
            .u-search
                .content
                    .field
                        span
                            em 洗护用品
                            del x
                    .tools
                        a(href='javascript:;') 筛选
            // 品牌信息
            .brand
                .pic
                    img(src='http://bgo.mamhao.cn/ff3ed367-45bf-45b2-82e0-b915a124b755.png')
                dl
                    dt mothercare
                    dd.ellipsis
                        div gb好孩子-2016年《妈妈是超人》指定合作伙伴！全球知名孕婴童品牌经营商、产品服务商和生活方案提供商，专注孕婴童品牌经营商、产品服务商和生活方案提供商。
            // tab
            .u-tab.array
                ul
                    li 综合
                    li.active
                        em 销量
                    li.down
                        em 价格
                    li 最新
        .list
            ul.u-goods-list
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                            .sales 已售1200件
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                                em 满减
                            .sales 已售1200件
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                            sup 赠
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                                em 满减
                            .sales 已售1200件
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                            sub 劵
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                                em 多重优惠
                            .sales 已售1200件
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                            sup 赠
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                                em 满减
                            .sales 已售1200件
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                            sub 劵
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                                em 多重优惠
                            .sales 已售1200件
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                                em 满减
                            .sales 已售1200件
                li
                    a(href='javascript:;')
                        .pic
                            img(src='http://img.mamhao.cn/CS747623C/main_CS747623C_01.jpg@1e_400w_400h_0c_0i_0o_100q_1x.jpg', alt='')
                            sup 赠
                        .info
                            h3 CONVERSE匡威婴童 可爱吉娃娃儿童鞋
                            .tools
                                strong ￥7875.9
                                em 满减
                            .sales 已售1200件
