extends ../layouts/layout
block title
    title 每一件商品都是安全的

block js
    script seajs.use('app/goods');

block content
    //- 目录商品列表
    section.m-goods-list.flex
        .header
            //- search
            .u-search
                .content
                    .field
                        a.back(href='/goods/search')
                        - var keywords = entry == 0 ? brandName : categoryName;
                        if keywords
                            span
                                a.key(href='/goods/search?keywords=' + keywords) #{keywords}
                                a.del(href='/goods/search') x
                    .tools
                        a(href='/goods/filter?entry=' + entry) 筛选

            //- 购买须知
            if desc
                dl.notice
                    dt 购买须知
                    dd.ellipsis
                        // 全部展开去掉 .ellipsis
                        div #{desc}

            //- tab
            .u-tab.array
                ul
                    li 综合
                    li.active
                        em 销量
                    li.down
                        em 价格
                    li 最新

        .list
            if rows && rows.length
                ul.u-goods-list.clearfix
                    include ../lists/goods
            else
                +blank('09', '未搜索到任何商品哦~')