extends ../layouts/simple
block title
    title 质检报告
block css
    link(rel='stylesheet', href='http://s.mamhao.cn/m/common/css/reset.css')
block js
    script.
        var pics = JSON.parse(localStorage.getItem('qualityPic')) || {}, templateId = queryURL('templateId'), qualityPic = pics[templateId];
        if (qualityPic) {
            var $content = document.querySelector('.u-report'), context = [], len = qualityPic.length;
            for (var i = 0; i < len; i++) context.push('<img src="' + qualityPic[i] + '">');
            $content.innerHTML = context.join('');
        }
        function queryURL(key) {
            var value = location.search.match(new RegExp("[\?\&]" + key + "=([^\&]*)(\&?)", "i"));
            return value ? decodeURIComponent(value[1]) : "";
        }

block content
    //- 质检担保
    section.u-report
        if qualityPic && qualityPic.length
            each pic in qualityPic
                img(src=pic)
