section.m-goods.flex
    // 搜索
    .u-search
        .content
            a.field.search(href='#/search')
                input(type='search', placeholder='搜索商品/品牌',readonly)
        .f-space
    // 主要内容
    .category
        .nav
        .list.flex
