if $data.length
    .nav-list.js-nav-list
        each list in $data
            p
                case list.promotionType
                    when 1
                        em 直降
                    when 3
                        em 满赠
                    when 4
                        em 套餐
                    when 5
                        em 满减
                    when 6
                        em 赠品

                | #{list.promotionName}


    // 促销列表 .show显示
    section.u-fixed.bottom.m-sale-pop
        .mask
        .content
            h3 促销
            .list
                each item in $data
                    case item.promotionType
                        when 1
                            em 直降
                        when 3
                            //- em 满赠
                            dl
                                dt
                                    span 满赠
                                dd
                                    each goods in item.giftGoodsList
                                        a.u-arrow.right(href='/goods/detail?inlet=6&templateId=' + goods.styleNumId + '&itemId=' + +goods.itemNumId) #{goods.styleTitle}

                        when 4
                            //- em 套餐
                            dl
                                dt
                                    span 套餐
                                dd
                                    a.u-arrow.right(href='javascript:;')
                                        .header
                                            strong
                                                | 最高省
                                                em 111.1
                                                | 元
                                            span 共3种
                                        ol
                                            li
                                                h4 套餐1
                                                .stuff
                                                    .item
                                                        .pic
                                                            img(src='http://img.mamhao.cn/B80064/main_B80064_04.jpg@1e_600w_0c_0i_0o_100q_1x.jpg')
                                                        sub 2件
                                                    .item
                                                        .pic
                                                            img(src='http://img.mamhao.cn/B80064/main_B80064_01.jpg@1e_600w_0c_0i_0o_100q_1x.jpg')
                                                    .item
                                                        .pic
                                                            img(src='http://img.mamhao.cn/B80064/main_B80064_05.jpg@1e_600w_0c_0i_0o_100q_1x.jpg')
                                                        sub 2件
                                            li
                                                h4 套餐2
                                                .stuff
                                                    .item
                                                        .pic
                                                            img(src='http://img.mamhao.cn/B80064/main_B80064_02.jpg@1e_600w_0c_0i_0o_100q_1x.jpg')
                                                            sub 2件
                                                    .item
                                                        .pic
                                                            img(src='http://img.mamhao.cn/B80064/main_B80064_04.jpg@1e_600w_0c_0i_0o_100q_1x.jpg')
                                                            sub 2件
                                            li
                                                h4 套餐3
                                                .stuff
                                                    .item
                                                        .pic
                                                            img(src='http://img.mamhao.cn/B80064/main_B80064_05.jpg@1e_600w_0c_0i_0o_100q_1x.jpg')
                                                            sub 2件
                                                    .item
                                                        .pic
                                                            img(src='http://img.mamhao.cn/B80064/main_B80064_04.jpg@1e_600w_0c_0i_0o_100q_1x.jpg')
                        when 5
                            //- em 满减
                            dl
                                dt
                                    span 满减
                                dd
                                    each goods in item.giftGoodsList
                                        a.u-arrow.right(href='/goods/detail?inlet=6&templateId=' + goods.styleNumId + '&itemId=' + +goods.itemNumId) #{goods.styleTitle}

                        when 6
                            //- em 赠品
                            dl
                                dt
                                    span 赠品
                                dd
                                    each goods in item.giftGoodsList
                                        a.u-arrow.right(href='/goods/detail?inlet=6&templateId=' + goods.styleNumId + '&itemId=' + +goods.itemNumId) #{goods.styleTitle}

            .footer
                button.u-btn.success.max.alone.js-close 关闭