// 门店详情
section.m-stores-detail
    .node-stores-detail-info
    .node-stores-detail-goods

// 门店服务标签弹出层;
section.u-fixed.bottom.u-stores-service
    .mask
    .content
        h2 本店提供
        ul.list
        button.u-btn.success.max.js-close 关闭