//- 首页模板
include ../../includes/mixin.pug
section.m-stores.flex
    p
    //- 如果附近门店列表返回空，那么直接显示 未开通门店空白提示页;
    if nearShopList && nearShopList.length
        .header
            img(src= bannerImg + '@95q.jpg')

        // 我的服务店
        .u-stores
            .title
                strong 我的服务店
                if totalServiceShopNumber > 2
                    a(href='#/list/server/'+request.isLocal) 更多
            if serviceShopList && serviceShopList.length
                .list
                    +storeList(serviceShopList, request)
            else
                .null
                    .pic
                    dl
                        dt 当前城市没有您的服务店
                        dd 在平台上与实体店发生交易即拥有您的专属服务店，快去附近找找吧.

        if followShopList && followShopList.length
            // 我的关注店
            .u-stores
                .title
                    strong 我的关注店
                    if totalFollowShopNumber > 2
                        a(href='#/list/show/'+request.isLocal) 更多
                .list
                    +storeList(followShopList, request)

        // 最近的实体店
        .u-stores
            .title
                strong 最近的实体店
            .list.pagination
                +storeList(nearShopList, request)

    else
        .stores-null
            img(src='http://s.mamhao.cn/m/v1/images/bg-stores-null.png')
            p 当前城市暂未开通实体店，敬请期待

// 门店服务标签弹出层;
section.u-fixed.bottom.u-stores-service
    .mask
    .content
        h2 本店提供
        ul.list
        button.u-btn.success.max.js-close 关闭
// 选择切换地址弹出层
section.u-fixed.bottom.m-select-address
    .mask
    .content
        .title
            | 切换地址
            del.js-close
        .gps.js-gps-address 定位到当前位置
        ul.list

.u-gps
    .field
        a.js-change-address(href='javascript:;') #{request.formattedAddress}

+footer_nav('store')