extends ../layouts/initial.pug
block title
    title 国庆奇遇 快乐出发
block meta
    script(type='text/javascript').
        var sw = window.screen.width > 414 ? 414 : window.screen.width;
        /ucbrowser/gi.test(navigator.userAgent) && (sw = window.screen.width);
        var phoneScale = parseInt(sw) / 750;
        document.write('<meta name="viewport" content="width=750, minimum-scale=' + phoneScale + ', maximum-scale=' + phoneScale + ', target-densitydpi=device-dpi">');
block css
    link(rel='stylesheet', href='http://s.mamhao.cn/m/activity/2016/1001/style/style.css')
    style.
        html, body { height: 100%; overflow: hidden; }
        body { background: url(http://img.mamhao.cn/s/m/activity/2016/1001/images/bg-body.jpg) no-repeat center bottom; background-size: cover;}
block js
    //- 入口文件
    script seajs.run('app/login');
    script seajs.run('activity/2016/1001/js/a');

block content
    section.m-activity-binding.js-activity-1001
        .logo.sprite 妈妈好
        .title 国庆奇遇 快乐出发
        form.fm-login
            h3.sprite 玩游戏，赢壕礼
            ul
                li.li-1
                    em 手机号
                    .field
                        input.js-mobile(name='mobile',type='tel',data-type='mobile', placeholder='请输入手机号码',maxlength='11')
                li.li-2
                    em 验证码
                    .field
                        input(name='vcode',type='tel',data-type='integer', placeholder='请输入验证码',maxlength='6')
                    .codes.js-bindVcode 获取验证码
        ol.button
            li.li-1.js-rule
                button.sprite(type='button') 游戏规则
                span.sprite
            li.li-2
                button.sprite.js-bind(type='button') 开始游戏
                span.sprite
    section.m-activity-rule
        h3 游戏规则
        .content
            p
                | 1、活动时间：
                br
                |   开始：2016年10月1日 00:00:00
                br
                |   结束：2016年10月7日 23:59:59
            p 2、游戏伊始，每位玩家总共只有7次掷骰机会，邀请好友一起玩可增加投掷机会；
            p 3、每到达一个主题场馆即可获赠相应的妈妈好专属优惠券，领完即止，每位玩家每个场馆仅有1次领券机会；
            p 4、吉祥物停留在文字功能格里，会根据场景提示做出相应动作（如：前进/后退）；
            p 5、投掷点数超出抵达终点的剩余步数，即视为后退步数；
            p 6、凡在活动期间参与的玩家，有且仅有1次抵达终点抽取壕礼机会；
            p 7、本次活动最终解释权归妈妈好所有。
            .button
                button.u-btn 朕知道了



    // JS脚本;
    script.
        var VM = {
            user: {
                openId: "#{openId}",
                nickName: "#{nickName}"
            },
            isWeChat: "#{isWeChat}"
        };