style.
    #spa{position: relative;}
    .dropload-body{height: 400px;background: rgba(0, 0, 0, .1);width: 80%;position: absolute;left: 50%;top: 50%;
        transform: translate3d(-50%, -50%, 0);-webkit-transform: translate3d(-50%, -50%, 0);}
    .dropload-body .test{height: 40px;padding: 10px 0;}


div.dropload.dropload-body.tc
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓
    div.test 拖动我试试 ↓







































