style.
    .headroom-body .test{height: 200px;padding: 100px 0;}
    #header{position: fixed;z-index: 10;left: 0;right: 0;top: 0;}

header#header
    nav.nav.auto-scroll
        ul.smooth
            li.active
                a(href='javascript:;') 首页
            li
                a(href='javascript:;') 门店
            li
                a(href='javascript:;') 童车汽座
            li
                a(href='javascript:;') 童装
            li
                a(href='javascript:;') 洗护
            li
                a(href='javascript:;') 喂养
            li
                a(href='javascript:;') 孕产
            li
                a(href='javascript:;') 寝居
            li
                a(href='javascript:;') 玩具

div.headroom-body.tc
    div.test 拖动我试试
    div.test 拖动我试试
    div.test 拖动我试试
    div.test 拖动我试试
    div.test 拖动我试试
    div.test 拖动我试试
    div.test 拖动我试试

include ../../includes/mixin
+footer_nav()








































