extends layouts/layout
block title
    title 这是测试页面
block js
    script seajs.run('app/test');

block content

    //h3 这是测试页面 id: #{id}, pid: #{pid}

    form(action='/test/upload_file', method='post', enctype='multipart/form-data')
        | 文件名:
        input.u-btn(type='file', name='upfile')
        br
        input.u-btn(type='submit', value='提交')


    p
        button.u-btn.success.js-ali-oss 点击测试 ali-oss


