extends layouts/layout
block title
    title 这是测试页面
block js
    script(src='http://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js')
    script seajs.run('app/test');


block css
    style.
        .ali-oss .opts {
            padding: 10px;
        }

        .ali-oss dl {
            padding: 2px 10px;
            counter-reset: dl;
        }

        .ali-oss dl dd {
            padding: 2px 10px;
            font-size: 12px;
        }

        .ali-oss dl dd:before {
            content: counter(dl) '. ';
            counter-increment: dl;
            color: #aaa;
        }

        .ali-oss .images img {
            width: 80px;
        }

block content

    //h3 这是测试页面 id: #{id}, pid: #{pid}

    div.ali-oss
        p.opts
            button.u-btn.success.js-ali-oss 点击测试 ali-oss
        p.opts
            input.js-upload(type='file',value='请选择文件',multiple)
        dl.images
        dl.buckets
        dl.files





