doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        block title
            title 妈妈好商城
        link(rel='dns-prefetch', href='//s.mamhao.cn')
        link(rel='dns-prefetch', href='//img.mamhao.cn')
        link(rel='dns-prefetch', href='//api.mamahao.com')
        meta(name='format-detection', content='telephone=no,email=no')
        meta(name='apple-mobile-web-app-status-bar-style', content='white')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='format-detection', content='telephone=no; email=no')
        block meta
        link(rel='stylesheet', href='http://s.mamhao.cn/m/common/css/reset.css')
        link(rel='stylesheet', href='http://s.mamhao.cn/m/v1/style/unit.css')
        block css
    body(ontouchstart)
        block content

        //- 公用页面底部元素
        include ../includes/foot.pug