doctype html
html(lang="en")
    head
        include ../includes/head

    body(ontouchstart)
        #app
            block content
            include ../includes/foot

    script(src='/lib/jq.2.1.min.js')
    script(src='/lib/vue.min.js')
    script(src='/lib/fastclick.min.js')
    script(src='/lib/router.min.js')
    script(src='/lib/swipe.js')
    script(src='/js/common.js')
    block js
