doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        block title
        link(rel='dns-prefetch', href='//s.mamhao.cn')
        link(rel='dns-prefetch', href='//image.mamhao.cn')
        link(rel='dns-prefetch', href='//api.mamhao.cn')
        meta(name='format-detection', content='telephone=no,email=no')
        meta(name='apple-mobile-web-app-status-bar-style', content='white')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='format-detection', content='telephone=no; email=no')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        block meta
        block css

    body(ontouchstart)

        //- 主内容区域
        block content

        //- js code
       block js

